/* app css stylesheet */
.animate-switch.ng-animate {

}
.animate-switch.ng-enter, 
.animate-switch.ng-leave
{ 
  -webkit-transition: 1400ms linear all;
    -moz-transition: 1400ms linear all;
    -ms-transition: 1400ms linear all;
    -o-transition: 1400ms linear all;
    transition: 1400ms linear all;
  position:absolute;
} 
.animate-switch.ng-enter {
    left: 400px;
}
.animate-switch.ng-enter.ng-enter-active {
    left: 0;
} 
.animate-switch.ng-leave {
    left: 0;
}
.animate-switch.ng-leave.ng-leave-active{
    left: -400px;
}
img {width: 400px;
    height: 300px;
    z-index: -500;
}
.container{
	width: 420px;
	height: 320px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 5px 0px 0px 5px;
	overflow: hidden;
	border: 5px solid #CFD8DC; 
	box-shadow: 0 0 8px #333;	
}
.switch{
	width: 410px;
	height: 310px;	
	overflow: hidden;
}
